*{
    box-sizing:border-box;
}

body{
    height:100vh;

    display:grid;
    place-items:center;
}

.container{
    width:80%;
    display:grid;
    place-items:center;
    position:relative;
}

.videoscreen{
    width:80%;
    cursor:pointer;
}

.controls{
    width:80%;
    background:#222;
    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:12px 0;
}

.ctrl-btn{
    background-color:transparent;
    color:#fff;
    border:0;
    outline:none;
    cursor:pointer;
    margin:0 5px;
}

/* for range */
/* .progress{
    width:70%;

    accent-color:slateblue;
    border:none;
    margin-right:10px;
} */

/* for progress */
.progress-container{
    width:70%;
    height:10px;
    background:#f4f4f4;
    border-radius:4px;
    margin-right:5px;
    cursor:pointer;
}

.progress{
    width:0;
    height:100%;
    background:rgb(168, 54, 9);
    border-radius:4px;  

    transition:width 0.1s linear;
}

#openfullscreen,#closefullscreen{
    margin:0 10px;
    cursor:pointer;
}

.closefullscreen{
    display:none;
}

.ctrl-btn .fa-play{
    color:steelblue;
}

.ctrl-btn .fa-stop{
    color:red;
}

.displaytime{
    margin-left:10px;
}

.pannel{
    background-color:slateblue;
    color:#fff;
    padding:0 30px;

    position:absolute;
    left:10%;
    top:80%;

    z-index:-1;

    transition:top 0.5s ease-out;
}

.container:hover .pannel{
    top:100%;
}

/* 14VD */
/* 27TT */